:root {
  --bg-color: #0e0e0e;
  --accent: #600e09;
  --second-accent: #85ccdc;
  --white: #ffffff;
}

/* ! common styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  background-color: var(--bg-color);
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.section {
  margin-bottom: 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/* ! HEADER */

.header {
  background: url(../img/header-bg.webp) no-repeat top / cover;
  height: 100vh;
}

.header .menu {
  padding-top: 50px;
  margin-bottom: 236px;
}

.menu__item {
  font-size: 36px;
  line-height: 42px;
  color: var(--white);
}

.menu__item-current {
  text-decoration: underline;
  color: var(--second-accent);
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.logo {
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../img/header-bg@2x.webp);
  }
}
