:root {
  --bg-color: #0e0e0e;
  --accent: #600e09;
  --second-accent: #85ccdc;
  --white: #ffffff;
}

/* ! common styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.section {
  margin-bottom: 100px;
}

/* ! HEADER */

.header {
  background: url(../img/header-bg.webp) no-repeat top / cover;
  height: 1080px;
}

.menu {
  padding-top: 50px;
  margin-bottom: 236px;
}

.menu__item {
  font-size: 36px;
  line-height: 42px;
  color: var(--white);
}

.menu__item-current {
  text-decoration: underline;
  color: var(--second-accent);
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.logo {
  margin: 0 auto;
}

.header__btn {
  display: none;
  position: relative;
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-left: 30px;
}

.header__btn::before,
.header__btn::after,
.header__btn span {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--white);
}

.header__btn::before {
  top: 0;
}

.header__btn::after {
  bottom: 0;
}

.header__btn span {
  top: 50%;
  transform: translateY(-50%);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../img/header-bg@2x.webp);
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    width: 100%;
    height: auto;
  }
  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: start;
    background-color: var(--bg-color);
    width: 250px;
    height: 100%;
    padding: 100px 50px 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all 300ms;
  }
  .menu__list.menu__list--active {
    opacity: 1;
    transform: translateX(0);
  }
  .menu {
    padding-top: 20px;
  }
  .header__btn {
    display: block;
  }
}
